/*STYLE SHEET */

.wrap /* STYLING WRAP DIV */
{   
	width:1300px;
	height:2301px;
	background-color:rgb(255,255,255);
	margin:0 auto;	
}

header /* STYLING HEADER TAG */
{
	
	height:620px;
	width:100%;
}

section{  /* STYLING SECTION TAG */
	width:100%;   
}

footer{  /* STYLING FOOTER */
	background-image:url();
	background-repeat:no-repeat;
	background-size: 100% 100%;
	height:320px;
	width:100%;
	background-color:rgb(186,12,47);
	float:right;
	position:relative;
}

.global-links-bar /* STYLING MAIN NAVIGATION BAR */
{
	height:130px;
	width:100%;
	background-color:rgb(186,12,47);
	position:relative;
	
}
.global-links-bar ul /* STYLING NAVIGATION BAR LIST */
{
	position:relative;
  	float: right;
	clear:left;
	margin-bottom:0px;
	margin-top:40px;
	margin-right:80px;
}
.global-links-bar ul li /* STYLING NAVIGATION BAR LIST ITEMS */
{
	float: left;
  	min-height: 1px;
  	line-height: 1em;
  	vertical-align: middle;
	border-right:1px solid white;
	
}		

.global-links-bar ul li.hover, /* STYLING NAVIGATION BAR LIST ITEMS ON HOVER */
.global-links-bar ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}


.global-links-bar ul li { /* STYLING NAVIGATION BAR LIST ITEMS */
  float: none;
}
		


.global-links-bar:after,   /* Custom CSS Styles */
.global-links-bar ul:after {
  content: '';
  display: block;
  clear: both;
}


.global-links-bar > ul > li > a { /* STYLING NAVIGATION BAR LIST ITEMS ANCHOR */
  color: #FFFFFF;
}


.global-links-bar a {  /* STYLING NAVIGATION BAR LIST ITEMS ANCHOR */
  display: inline-block;
  font-family:Arial,Helvetica,sans-serif;
  font-size: 20px;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
}


.global-links-bar a:hover { /* STYLING NAVIGATION BAR LIST ITEMS ANCHOR HOVER */
  color: rgb(186,12,47);
  border-radius: 4px 4px 0 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0;
  transition-duration:0.5s;
  opacity:1;
}


.global-links-bar ul {  /* STYLING NAVIGATION BAR LIST */
  background: rgb(186,12,47);
  border-radius: 5px 5px 0 0;
  list-style: none;
}



.global-links-bar > ul > li {  /* STYLING NAVIGATION BAR LIST ITEMS */
  float: left;
  padding: 0 10px;
  position: relative;
  margin-top:30px;
}



.global-links-bar > ul > li:hover > a { /* STYLING NAVIGATION BAR LIST ITEMS HOVER ANCHOR */
  background: #f6f6f6;
  color:rgb(186,12,47);
  border-radius: 4px 4px 0 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  transition-duration:0.5s;
}


.global-links-bar > ul > li a {  /* STYLING NAVIGATION BAR LIST ITEMS ANCHOR */
  line-height: 35px;
}

.global-links-bar > ul > li a:hover {  /* STYLING NAVIGATION BAR LIST ITEMS ANCHOR HOVER */
  box-shadow: none;
}

.logo {  /* STYLING MAIN LOGO */
	background-repeat:no-repeat;
	position:absolute;
	margin-left:5px;
	margin-top:25px;
}

.header-banner-container {  /* STYLING HEADER BANNER IMAGE */
	
	background-image:url('../Images/head 1.png');
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:100%;
	height:490px;
	position:relative;	
}

.dropbtn {
    background-color:rgb(186,12,47);
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width:220px;
    font-family:helvetica;
	position:absolute;
}

.dropdown {
    position:absolute;
    display:inline-block;
	background-color:white;
	height:52px;
	width:220px;
	margin-left:105px;
	margin-top:220px;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width:220px;
	margin-top:50px;
	
    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family:helvetica;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
	color:rgb(186,12,47);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(186,12,47);
}

#upper-section {  /* STYLING UPPER SECTION */
	
	top:0px;
	height:720px;
	width:100%;
	background-color:rgb(255,255,255);
	position:relative;
}

.section-navigator-1 { /* STYLING SECTION NAVIGATOR 1 */
	height:50px;
	width:100%;
	position:absolute;
	background-color:rgb(255,255,255);
	margin-top:70px;
}

.navigator-heading{ /* STYLING SECTION NAVIGATOR heading */
	color:rgb(186,12,47);
	font-size:18px;
	font-family:Arial,Helvetica,sans-serif;
	margin-bottom:0px;
	font-weight:bolder;
	
}

.navigator-line-1 { /* STYLING SECTION NAVIGATOR line 1 */
	height:3px;
	width:400px;
	background-color:rgb(186,12,47);
	position:absolute;
	margin-left:50px;
	margin-top:28px;
	
}

.navigator-line-2{ /* STYLING SECTION NAVIGATOR 2 */
	height:3px;
	width:400px;
	background-color:rgb(186,12,47);
	position:absolute;
	margin-left:850px;
	margin-top:28px;	
}

.site-work-step-1{ /* STYLING SITE WORK STEP 1 */
	height:350px;
	width:310px;
	background-color:rgb(186,12,47);
	position:absolute;
	left:10px;
	margin-top:185px;
}

.site-work-step-2{  /* STYLING SITE WORK STEP 2 */
	height:350px;
	width:310px;
	background-color:rgb(186,12,47);
	position:absolute;
	left:333px;
	margin-top:185px;
}

.site-work-step-3{  /* STYLING SITE WORK STEP 3 */
	height:350px;
	width:310px;
	background-color:rgb(186,12,47);
	position:absolute;
	left:656px;
	margin-top:185px;
}

.site-work-step-4{  /* STYLING SITE WORK STEP 4 */
	height:350px;
	width:310px;
	background-color:rgb(186,12,47);
	position:absolute;
	left:979px;
	margin-top:185px;
}

.steps-heading {  /* STYLING SITE WORK STEP HEADING */
	
	color:white;
	font-size:23px;
	font-family:Helvetica;
	margin-top:157px;
	margin-bottom:0px;
}

.steps-info-para-div{
	width:229px;
	height:101px;
	color:white;
	margin-left:40px;
	margin-bottom:0px;
	margin-top:-32px;
	font-size: 14px;
	font-family:Helvetica;
}

.steps-info-para {  /* STYLING SITE WORK STEP INFO PARA */
	text-decoration:none;
	color:white;
	margin-top:48px;
	font-size:14px;
	font-family:Helvetica;
	text-align:center;
}

.steps-img{  /* STYLING SITE WORK STEP IMGES */
	margin-left:113px;
	margin-top:25px;
	position:absolute;
}

.section-navigator-2 { /* STYLING SECTION NAVIGATOR 2 */
	height:50px;
	width:100%;
	position:absolute;
	background-color:rgb(255,255,255);
	margin-top:620px;
}

.companies-logo-container {  /* STYLING COMPANIES LOGO CONTAINER */
	background-color:rgb(255,255,255);
	width:100%;
	height:290px;
	position:relative;
}

.companies-logo-zurich{
	margin-left:135px;
	text-decoration:none;
}

.companies-logo-jubilee{
	margin-left:85px;
	text-decoration:none;
}

.companies-logo-nationwide{
	margin-left:102px;
	text-decoration:none;
}

.companies-logo-geico{
	margin-left:85px;
	text-decoration:none;
}

.companies-logo-progerssive{
	margin-left:81px;
	text-decoration:none;
}

.about-us-container {  /* STYLING ABOUT US CONTAINER */
	position:relative;
	width:100%;
	height:350px;
	margin-top:0px;
	background-image:url(../Images/section_info_2_with_black_opacity.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.about-us-heading { /* STYLING ABOUT US HEADING */
	font-size:3.5rem;
	color:rgb(255,255,255);
	font-family:Helvetica;
	text-align:center;
	margin-top:0px;
	margin-bottom:29px;
	padding-top:65px;
}

.about-us-info{  /* STYLING ABOUT US INFO */
	font-family:Helvetica;
	font-size:20px;
	color:white;
	padding:0px;
	margin:0px;
	font-size:15px;
}

#footer-information-container{  /* STYLING FOOTER INFORMATION CONTAINER */
	height:270px;
	width:367px;
	background-color:rgb(186,12,47);
	position:absolute;
	margin-left:53px;
}

.footer-information-heading{ /* STYLING FOOTER INFORMATION HEADING */
	color:white;
	font-size:14px;
	font-family:Arial,Helvetica,sans-serif;
	margin-bottom:0px;
	font-weight:bold;
	margin-top:60px;
	margin-left:83px;
	
}

.footer-information-list{  /* STYLING FOOTER INFORMATION LIST */
	padding:0px;
	margin-left:172px;
	font-size:1em;
	list-style-type:none;
	font-size:14px;
	margin-top:0px;
	padding-top:27px;	
}
.footer-information-list a:hover{  /* STYLING FOOTER INFORMATION LIST ANCHOR HOVER */
	color:#FA8072;
}

.footer-information-li { /* STYLING FOOTER INFORMATION LIST LI */
	padding:5px;
}

.footer-information-li a { /* STYLING FOOTER INFORMATION LIST LI HOVER */
	text-decoration:none;
	color:white;
	font-family:Arial,Helvetica,sans-serif;
}

#footer-companies-likned-container{  /* STYLING COMPANIES LINKED CONTAINER */
	height:270px;
	width:388px;
	background-color:rgb(186,12,47);
	position:absolute;
	left:400px;              
}

.footer-companies-likned-heading{  /* STYLING COMPANIES LINKED HEADING */
	color:white;
	font-size:14px;
	font-family:Arial,Helvetica,sans-serif;
	margin-bottom:0px;
	font-weight:bold;
	margin-right:68px;
	margin-top:60px;
}

.footer-companies-likned-list{  /* STYLING COMPANIES LINKED LIST */
	padding:0px;
	margin-left:87px;
	font-size:1em;
	list-style-type:none;
	font-size:14px;
	margin-top:0px;
	padding-top:27px;
}

.footer-companies-likned-list a:hover{  /* STYLING COMPANIES LINKED LIST ANCHOR HOVER */
	color:#FA8072;
}

.footer-companies-likned-li { /* STYLING COMPANIES LINKED LIST LI */
	padding:5px;
}

.footer-companies-likned-li a { /* STYLING COMPANIES LINKED LIST LI ANCHOR */
	text-decoration:none;
	color:white;
	font-family:Arial,Helvetica,sans-serif;
}

#footer-contact-us-container{  /* STYLING CONTACT US CONTAINER */
	height:320px;
	width:488px;
	background-color:rgb(186,12,47);
	position:absolute;
	left:811px;
}

.footer-contact-us-heading{ /* STYLING CONTACT US HEADING */
	color:white;
	font-size:14px;
	font-family:Arial,Helvetica,sans-serif;
	margin-bottom:0px;
	font-weight:bold;
	margin-top:60px;
}

.footer-contact-us-info-1{  /* STYLING CONTACT US INFO 1 */
	color:white;
	font-size:14px;
	margin-top:0px;
	padding-top:27px;
}

.footer-contact-us-info-2{  /* STYLING CONTACT US INFO 2 */
	color:white;
	font-size:14px;	
}

.footer-contact-us-info-3{  /* STYLING CONTACT US INFO 3 */
	color:white;
	font-size:14px;
}

.footer-contact-us-info-4{  /* STYLING CONTACT US INFO 4 */
	color:white;
	padding-top:0px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
}

.social-media-icon-container {  /* STYLING SOCIAL MEDIA ICON CONTAINER */
	height:45px;
	width:140px;
	position:absolute;	
}

.social-media-icon-container a { /* STYLING SOCIAL MEDIA ICON CONTAINER ANCHOR */
	text-decoration:none;
	opacity:0.5;
}

.social-media-icon-container a:hover {  /* STYLING SOCIAL MEDIA ICON ANCHOR HOVER */
	opacity:1;	
}

.social-media-img{ /* STYLING SOCIAL MEDIA ICON IMAGES */
	height:30px;
	width:30px;
}

.online-payment-logo-container{ /* STYLING ONLINE PAYMENT LOGO CONTAINER */
	height:55px;
	width:207px;
	position:absolute;
	margin-left:265px;
	margin-top:30px;	
}

.copyright{
	position:absolute;
	margin-top:295px;
	color:white;
	margin-left:12px;
	margin-bottom:0px;
	font-size:12px;
}

.lower-footer-column-1{
	height:185px;
	width:3px;
	position:relative;
	background-color:black;
	opacity:0.2;
	left:420px;
	top:51px;
}

.lower-footer-column-2{
	height:185px;
	width:3px;
	position:relative;
	background-color:black;
	opacity:0.2;
	left:737px;
	top:-140px;
}