@charset "utf-8";
/* CSS Document */



body
{
	background-image:url(../images/background.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:100% 100%;	
}

.wrapper
{   
	height:1000px;
	width:980px;
	background-color:gray;
	margin:auto;
}
.header{
	
	background-image:url(../images/header2.jpg);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	
	height:300px;
	width:100%;
	background-color:black;

}

.Nav
{
	
	
	
	height:100px;
	width:100%;
	background-color:black;
	
}

.aside
{
	height:460px;
	width:20%;
	background-color:rgb(0,43,78);
	float:left;
	border:9px #003 inset;
	

}

.section
{
	height:477.5px;
	width:78%;
	background-color:rgb(0,43,78);
	float:right;
}

.footer
{
	background-image:url(../images/footer.jpg);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	
	
	height:190px;
	width:100%;
	background-color:black;
	float:right;

}

.box {
 
     height:50px;
	 width: 100%;
	 background-color:
	 
	 
	 
	 
	 
	 
	 
	 }


.box input {
	       
		   color:gray;
		   margin-left: 80%;
		   height:20px;
		   width: 160px;
		   
	
	
	}
	
.icon {
	text-decoration:none;
	
		
	
	}	

#ficon{
	
	margin-left:780px;
	
	
	}	
	
.inp {
	text-decoration:none;
	color:white;
	font-family:Arial, Helvetica, sans-serif;
	
	
	}
	
.inp:hover {
	
	color:orange; }		
	
	
	
.p {
	font-size: 25px;
	font-weight:bolder;
	font-family:Arial, Helvetica, sans-serif;

	}	
	
.tra {
	
	transition:all 1s;
	transition-timing-function:ease-out;

	
}


.tra:hover {
	
	width:146px;
	height:200px;
	box-shadow:10px 10px 10px black;
	border: 2px solid black;
}

.mp {
	
	border:3px blue outset;
	background-color:#000;
	font-family:Arial, Helvetica, sans-serif;
	color:white;
	
	background-color:white;
    animation-name:myfirst;
    animation-duration:1s;
     position:relative;
    animation-iteration-count:infinite;
    animation-direction:alternate;
	
	}
	
@keyframes myfirst
{
	0%{background-color:white;}
	10%{background-color:black;}
	20%{background-color:red;}
	30%{background-color:green;}
	40%{background-color:orange;}
	50%{background-color:blue;}
	60%{background-color:gpink;}
	70%{background-color:indigo;}
	80%{background-color:voilet;}
	90%{background-color:white;}
	100%{background-color:black;}
}


.mp1 {
	
	border:3px blue outset;
	background-color:#000;
	font-family:Arial, Helvetica, sans-serif;
	color:white; 
	
}



.li {
	color:white;
	font-family:Arial, Helvetica, sans-serif;
	list-style-type:none;
	
	
	
}

.la {
	text-decoration:none;
	
	
}


.li:hover {
	color:orange; 
	
}