.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a {
    
    color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: black;
    color: gray;
}



.about-us-container {  /* STYLING ABOUT US CONTAINER */
	position:relative;
	width:100%;
	height:300px;
	margin-top:0px;
	background-image:url(../Images/aboutUs.jpeg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	
}


.about-us-heading { /* STYLING ABOUT US HEADING */
	font-size:3.5rem;
	color:rgb(255,255,255);
	font-family:Helvetica;
	text-align:center;
	margin-top:0px;
	margin-bottom:29px;
	padding-top:65px;
}

.about-us-info{  /* STYLING ABOUT US INFO */
	font-family:Helvetica;
	font-size:20px;
	color:white;
	padding:0px;
	margin:0px;
	font-size:15px;
}